<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>其他功能</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link rel="stylesheet" href="http://code1.enhance.cn/dist/admin_teach_new/css/channel/bootstrap.css?20160705" type="text/css"/>
	<link rel="stylesheet" href="http://code1.enhance.cn/dist/admin_teach_new/css/channel/teach.css?20160705" type="text/css"/>
	<!-- 仅用于提供展示 -->
	<style type="text/css">
		body{
			background:#fff !important;
		}
	</style>
	<!-- 仅用于demo展示 end -->
</head>
<body>
	<div class="container-fluid">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">select multiple</label>
				<div class="col-sm-10">
			        <ul style="margin: 0 0 10px 0px;" class="checklist js-checklist">
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="94" name="teacher[]">11111
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="93" name="teacher[]">易烊千玺
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="92" name="teacher[]">创建名师调整
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="90" name="teacher[]">无名氏
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="89" name="teacher[]">新de老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="86" name="teacher[]">田慧
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="84" name="teacher[]">谢赛楠
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="83" name="teacher[]">陈月琴
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="79" name="teacher[]">mumuliu
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="78" name="teacher[]">杨磊
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="77" name="teacher[]">王博
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="75" name="teacher[]">王彦婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="74" name="teacher[]">王子睿
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="73" name="teacher[]">林坚武
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="72" name="teacher[]">张巍
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="70" name="teacher[]">陶睿
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="69" name="teacher[]">江瑜婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="67" name="teacher[]">凡凡
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="66" name="teacher[]">王彦婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="65" name="teacher[]">刘硕
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="64" name="teacher[]">胡海潇
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="62" name="teacher[]">伪装幸福
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="61" name="teacher[]">大圣老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="60" name="teacher[]">周舟
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="59" name="teacher[]">gmat名师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="58" name="teacher[]">xinlaoshi
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="57" name="teacher[]">公众课老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="55" name="teacher[]">888
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="54" name="teacher[]">999
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="50" name="teacher[]">22222
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="49" name="teacher[]">11111
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="48" name="teacher[]">王默
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="47" name="teacher[]">qiusaer
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="44" name="teacher[]">jxl
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="43" name="teacher[]">神仙
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="42" name="teacher[]">罗其钰
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="41" name="teacher[]">黄大仙
			            </li>
			        </ul>
			        <div class="checkresult js-checkresult clearfix"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2 js-checkresult">
					<!-- <input type="text" class="form-control"> -->
					<!-- <div class="form-control js-checkresult"></div> -->
				</div>
			</div>
		</form>
		<hr>

		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">select multiple</label>
				<div class="col-sm-10">
			        <ul style="margin: 0 0 10px 0px;" class="checklist js-checklist">
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="94" name="teacher[]">11111
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="93" name="teacher[]">易烊千玺
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="92" name="teacher[]">创建名师调整
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="90" name="teacher[]">无名氏
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="89" name="teacher[]">新de老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="86" name="teacher[]">田慧
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="84" name="teacher[]">谢赛楠
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="83" name="teacher[]">陈月琴
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="79" name="teacher[]">mumuliu
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="78" name="teacher[]">杨磊
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="77" name="teacher[]">王博
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="75" name="teacher[]">王彦婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="74" name="teacher[]">王子睿
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="73" name="teacher[]">林坚武
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="72" name="teacher[]">张巍
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="70" name="teacher[]">陶睿
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="69" name="teacher[]">江瑜婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="67" name="teacher[]">凡凡
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="66" name="teacher[]">王彦婷
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="65" name="teacher[]">刘硕
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="64" name="teacher[]">胡海潇
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="62" name="teacher[]">伪装幸福
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="61" name="teacher[]">大圣老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="60" name="teacher[]">周舟
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="59" name="teacher[]">gmat名师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="58" name="teacher[]">xinlaoshi
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="57" name="teacher[]">公众课老师
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="55" name="teacher[]">888
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="54" name="teacher[]">999
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="50" name="teacher[]">22222
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="49" name="teacher[]">11111
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="48" name="teacher[]">王默
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="47" name="teacher[]">qiusaer
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="44" name="teacher[]">jxl
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="43" name="teacher[]">神仙
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="42" name="teacher[]">罗其钰
			            </li>
			            <li class="checkitem js-checkitem">
			                <input type="checkbox" value="41" name="teacher[]">黄大仙
			            </li>
			        </ul>
			        <div class="checkresult js-checkresult clearfix"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2 js-checkresult">
					<!-- <input type="text" class="form-control"> -->
					<!-- <div class="form-control js-checkresult"></div> -->
				</div>
			</div>
		</form>
	</div>

	<script src="http://code1.enhance.cn/dist/libs/seajs/2.1.0/sea.js" type="text/javascript"></script>
	<script type="text/javascript">
	    seajs.config({
	        base: "http://code1.enhance.cn/dist",
	        alias: {
	            'jquery': 'libs/jquery/1.11.0/jquery.js',
	            'admin_teach_new/js/channel/teach':'admin_teach_new/js/channel/teach.js?20160705'
	        },
	        preload:["admin_teach_new/js/channel/teach"]      
	    });
	    seajs.use(["admin_teach_new/js/channel/teach"], function(teach) {

	    });
	</script>
</body>
</html>
